apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: rebble-ingress
  annotations:
    kubernetes.io/ingress.global-static-ip-name: rebble-ingress-ipv4
spec:
  tls:
    - secretName: star-rebble-io
  rules:
    - host: cohorts.rebble.io
      http:
        paths:
          - path: /*
            backend:
              serviceName: cohorts
              servicePort: 8080
    - host: boot.rebble.io
      http:
        paths:
          - path: /*
            backend:
              serviceName: boot
              servicePort: 8080
